body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}
/* CSS for Desktop View */
#main-header {
  background-color: #eee;
  color: #333;
  text-align: center;
  padding: 1em;
}

.main-nav {
  text-align: center;
  padding: 1em;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5em 1em;
  margin: 0 1em;
  border-radius: 5px;
  background-color: #d9d9d9;
  box-shadow: 0 3px #333;
  transition: background 0.1s, box-shadow 0.3s, color 0.1s;
}

.main-nav a:hover {
  box-shadow: 0px 10px 10px 0px gray;
}

/* Media Query for Desktop View */
@media screen and (max-width: 768px) {
  #main-header {
    background-color: #eee;
    padding: 1em;
    display: none;
  }

  .main-nav {
    padding: 1em;
  }

  .main-nav a {
    margin: 0 1em;
  }
}
/* CSS for Mobile View */
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
  transition: display 0.5s ease; /* Add a smooth transition effect */
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04aa6d;
  color: white;
}

#main-content {
  padding: 1em;
  text-align: center;
}

#main-footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: white;
}

.intro-section {
  position: relative;
  color: white;
  text-align: left;
  padding: 2em;
  height: 524px;
  background: url("images/chaplin-bw.jpg") center/cover no-repeat; /* Background image property */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .intro-section {
    /* position: relative;
    color: white;
    text-align: left;
    padding: 2em; */
    background: url("images/chaplin.jpg") center/cover no-repeat; /* Background image property */
  }
}


.info-section {
  /* display: flex; */
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding: 2em;
}

.intro-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.section-photo {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin-right: 2em;
}
.media {
  display: flex;
}

@media (max-width: 600px) {
  .main-nav a {
    /* Remove display: block; */
    margin: 0.5em 1em;
  }

  .info-section {
    flex-direction: column;
    text-align: center;
  }

  .section-photo {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
